table tr td {
    border: gray 2px solid;
    width: 130px;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
    /*font-family: arial, sans-serif;*/
}
tr {
    height: 40px;
}
h1  {
    color: white;
}
th {
    background-color: antiquewhite;
}
table td {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

p#date {
    color: gray;
    margin-top: 30px;
}
div {
    background-color: red;
    width: 740px;
}
h2 {
    color: red;
}


/*Thanh công cụ*/

#navbar {
    list-style-type: none; /* remove bullet points */
    margin: 10px 0 0 0;
    padding: 0; float: left;
    font-size: 16pt;
    ;
}
#navbar li {
    display: inline; /* make items horizontal */
}
#navbar li a:link, #navbar li a:visited, #navbar li a:active {
    text-decoration: none; /* remove underline */
    color: #000000;
    padding: 0 16px 0 10px; /* space links apart */
    margin: 0 ;
    border-right: 2px solid #B4B4B4; /* divider */
}
#navbar li a:link.last-link {
    /* remove divider */
    border-right: 0;
}
#navbar li a:hover {
    /* change color on hover (mouseover) */
    color: #EB6361;
}

/*chân trang*/
#footer {
    width: 50%;
    background: #F1F1F1; /* light gray */
    border-top: 1px solid #D4D4D4; /*
    dark gray "topline" */
    height: 150px;
}

hr {
    width: 50%;
    margin-left:0;
}
